{% extends 'base.html.twig' %}

{% block body %}
    <div id="messages"></div>
{% endblock %}

{% block javascripts %}
<script>
    const url = new URL('http://127.0.0.1:3000/.well-known/mercure');
    url.searchParams.append('topic', 'test');
    
    const eventSource = new EventSource(url);
    
    eventSource.onmessage = event => {
        const message = JSON.parse(event.data);
        document.getElementById('messages').innerHTML += `<p>${message.message}</p>`;
    };
</script>
{% endblock %}